.questionare {
  display: row;
  flex-direction: column;
  align-content: center;
}
.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.options {
  padding: 10px;
}
.options.active {
  border: solid 1px rgb(198, 198, 202);
  padding: 5px;
  margin: 5px;
}
.prompt {
  color: gray;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
}
