.response {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.question {
  font-weight: bold;
}
.questionareBox {
  display: row;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: solid 3px blue;
  border-radius: 10px;
}
#pronouns {
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: rgb(108, 70, 214);
  color: white;
}
